.main {
    // overflow-x: hidden;
    .container {
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .line {
        height: 2px;
    }

    .tools-title{
        line-height: 0.7;
    }
}