:host{
    height: 100%;
    width: 100%;
}
svg {
    // color: var(--color-primary);
    height: 100%;
    width: 100%;
    // vertical-align: top;
    // fill: currentColor;
    overflow: visible;
}
.blur {
    // border-radius: 50%;

    opacity: 0.7;
    -webkit-filter: blur(1.5rem);
    filter: blur(1.5rem);
}