
.tb-text-align--justify {
    text-align: justify;
}

.tb-text-justify {
    text-justify: inter-word;
}

.tb-text-align--center {
    text-align: center;
}


.tb-text-align--right {
    text-align: right;
}

.tb-text-align--left {
    text-align: left;
}