// $resXC:900px;
// $resXD:951px;
// $gt-md: 1366px;
// $tb-resXXL: 1280px;
$tb-resXL: 2500px;
$tb-resXSL: 1760px;
$tb-resL: 1270px;
$tb-resM: 900px;
$tb-resS: 560px;
$tb-resXS: 599px;


$tb-fxXL: 5000px;
$tb-fxXSL: 3000px;
$tb-fxL: 1919px;
$tb-fxM: 1279px;
$tb-fxS: 959px;
$tb-fxXS: 599px;
// $tb-resXXS: 435px;
// $tb-resMin: 320px;
