$tb-color-black-alpha-map: (
  2: rgba(black, 0.02),
  4: rgba(black, 0.04),
  6: rgba(black, 0.06),
  12: rgba(black, 0.12),
  20: rgba(black, 0.2),
  38: rgba(black, 0.38),
  54: rgba(black, 0.54),
  75: rgba(black, 0.75),
  87: rgba(black, 0.87)
);

$tb-color-white-alpha-map: (
  6: rgba(white, 0.06),
  12: rgba(white, 0.12),
  20: rgba(white, 0.2),
  38: rgba(white, 0.38),
  54: rgba(white, 0.54),
  75: rgba(white, 0.75),
  87: rgba(white, 0.87)
);


$tb-grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161
);
$tb-green: (
  50: #e8f8f0,
  100: #d1f2e1,
  200: #8ddfb6,
  300: #5fd298,
  400: #31c57b,
  500: #1bbf6d,
  600: #18ab62,
  700: #159857,
  800: #107241,
  900: #0a4c2b,
  A100: #a7eec8,
  A200: #65e29f,
  A400: #23d676,
  A700: #12cf65
);

$tb-blue: (
   50 : #e3e3e9,
   100 : #F0F4F9,
   200 : #8c8aa5,
   300 : #5e5b80,
   400 : #3c3765,
   500 : #19144a,
   600 : #161243,
   700 : #120e3a,
   800 : #0e0b32,
   900 : #080622,
   A100 : #685fff,
   A200 : #382cff,
   A400 : #0d00f8,
   A700 : #0c00df,
);

$tb-red: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c
);

$tb-orange: (
  50 : #ffeee8,
  100 : #fed5c6,
  200 : #feb9a0,
  300 : #fe9d7a,
  400 : #fd885e,
  500 : #fd7341,
  600 : #fd6b3b,
  700 : #fc6032,
  800 : #fc562a,
  900 : #fc431c,
  A100 : #ffffff,
  A200 : #fffdfc,
  A400 : #ffd1c9,
  A700 : #ffbcb0,
  );

