<div class="tb-position--relative main">
    <div class="tb-container container">
        <div fxLayout="column" fxLayoutAlign="start stretch">

            <h1 class="tb-typo--h3">Privacy Policy for Taru - Plant Finder & Weather</h1>
            <p class="tb-typo--body2">We take the privacy of our users very seriously, and we want you to feel confident
                and comfortable using our app. This privacy policy outlines what information we collect, how we use it,
                and how we protect your privacy.</p>
            <p class="tb-typo--body2">If you have additional questions or require more information about our Privacy
                Policy, do not
                hesitate to contact us.</p>
            <h2 class="tb-typo--h5 tb-font-weight--bold">Information We Collect</h2>
            <p class="tb-typo--body2">When you use our app, the app may use certain information from you, such as your
                device information, search queries, and location, but these are not collected by us.</p>
            <p class="tb-typo--body2">We do not collect any personally identifiable information from you, such as your
                name, email address, or password.</p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">How We Use Your Information</h2>
            <p class="tb-typo--body2">We use your information to provide you with the best possible user experience,
                including identifying plants, checking weather and forecast.</p>

            <p class="tb-typo--body2">We may use your information to personalize your experience and provide you with
                targeted content and communicate with you about the app, including
                updates and new features.</p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">How We Protect Your Privacy</h2>
            <p class="tb-typo--body2">We take appropriate measures to ensure the security and confidentiality of your
                information, including using encryption and secure storage.</p>
            <p class="tb-typo--body2">We do not share your information with third parties without your consent, except
                in limited circumstances such as to comply with legal requirements or protect our rights.</p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">Changes to this Policy</h2>

            <p class="tb-typo--body2">We may update this privacy policy from time to time, and any changes will be
                posted to the app and/or website.</p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">Contact Us</h2>

            <p class="tb-typo--body2">If you have any questions or concerns about this privacy policy or the app, please
                contact us with developer email address : nirajprakash13@gmail.com. </p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">Consent</h2>
            <p class="tb-typo--body2">By using our app, you hereby consent to our Privacy Policy. The app is fully open source you can check at <a href="https://github.com/nirajprakash/taru-plants-android" target="_blank">https://github.com/nirajprakash/taru-plants-android</a></p>

        </div>
    </div>
</div>