<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- <div class="tb-position--absolute tb-height--full"> -->
    <!-- <div class="background-bar">

        <div class="tb-container vertical-line-container" fxLayoutAlign="space-between stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div> -->
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <h2 [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" ngClass.gt-sm="current-typo--h3-light"
                ngClass.sm="current-typo--h3-light" ngClass.xs="current-typo--h4">My Platforms.</h2>

            <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>


            <!-- card junkielabs -->
            <a [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                class="junkie-section tb-position--relative card tb-color-bg--black-4 unlink"
                href="https://junkielabs.in" target="_blank">


                <div class="ribbon ribbon-top-right"><span class="current-typo--h5">Open Source</span></div>

                <div class="card-content tb-position--relative" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="start center">


                    <div fxFlex="50" class="tb-position--relative" ngClass.gt-xs="tb-padding--right-16"
                        ngClass.xs="tb-padding--bottom-24" fxLayout="column">
                        <div class="tb-height--12"></div>
                        <div class="tb-height--48">
                            <img class="tb-image" src="assets/img/logos/junkielabs.png">
                        </div>
                        <div class="tb-height--12"></div>

                        <h3 class="tb-font-weight--medium tb-color--black" ngClass.xs="current-typo--h2-medium"
                            ngClass.sm="current-typo--h3-medium " ngClass.gt-sm="current-typo--h2-medium">JunkieLabs
                        </h3>
                        <div class="tb-height--12"></div>
                        <p class="current-typo--body1 tb-color--black-75">An Open Source Initiative to help those who
                            need a good and common pattern to make app from scratch</p>
                        <div class="tb-height--20"></div>
                        <a fxFlexAlign="start" class="btn-junkielab-area" href="https://junkielabs.in" target="_blank">
                            <button mat-raised-button color="primary"><span class="current-typo--button-medium">Explore
                                    Now.</span></button>

                        </a>
                        <div class="tb-height--12"></div>


                    </div>

                    <div class="card-image-area" fxFlex.xs="none" fxFlex fxLayoutAlign="start center" fxLayout="column">
                        <app-junkielabs-illustration></app-junkielabs-illustration>

                        <!-- <img class="image tb-position--relative" src="assets/img/illustrations/pic_junkielabs.png"> -->

                    </div>

                    <!-- <div fxFlex fxFlex.xs="none" class="card-empty-space tb-width--76">


                    </div> -->



                </div>

            </a>

            <div ngClass.gt-xs="tb-height--32" ngClass.xs="tb-height--20"></div>

            <!-- card thedroid -->
            <a [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}"
                class="thedroid-section tb-position--relative card tb-color-bg--white unlink"
                href="https://thedroid.io" target="_blank">
                <div class="card-backgrond tb-position--absolute" fxLayout="row" fxLayout.xs="column">

                    <img class="tb-image tb-position--relative" src="assets/svg/TheDroid.io.svg">


                </div>


                <!-- <div class="ribbon ribbon-top-right"><span class="current-typo--h5">Open Source</span></div> -->

                <div class="card-content tb-position--relative" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="start center">


                    <div fxFlex="50" class="tb-position--relative" ngClass.gt-xs="tb-padding--right-16"
                        ngClass.xs="tb-padding--bottom-24" fxLayout="column">
                        <div class="tb-height--12"></div>
                        <div class="tb-height--64">
                            <img class="tb-image" src="assets/svg/thedroid_logo.svg">
                        </div>
                        <div class="tb-height--12"></div>

                        <h3 class="tb-font-weight--medium tb-color--black" ngClass.xs="current-typo--h2-medium"
                            ngClass.sm="current-typo--h3-medium " ngClass.gt-sm="current-typo--h2-medium">Thedroid.io
                        </h3>
                        <div class="tb-height--12"></div>
                        <p class="current-typo--body1 tb-color--black-75">Freelance platform for app designing and
                            Development for my clients. </p>
                        <div class="tb-height--32"></div>
                        <a fxFlexAlign="start" class="btn-thedroid-area" href="https://thedroid.io" target="_blank">
                            <button class="thedroid-button" mat-raised-button color="primary"><span class="current-typo--button-medium">Explore
                                    Now.</span></button>

                        </a>
                    </div>

                    <div class="card-image-area" fxFlex.xs="none" fxFlex fxLayoutAlign="start center" fxLayout="column">
                        <app-thedroid-illustration></app-thedroid-illustration>

                        <!-- <img class="image tb-position--relative" src="assets/img/illustrations/pic_junkielabs.png"> -->

                    </div>

                    <!-- <div class="card-image-area" fxFlex.xs="none" fxFlex fxLayoutAlign="start center" fxLayout="column">

                        <img class="image tb-position--relative" src="assets/img/illustrations/pic_junkielabs.png">

                    </div> -->




                </div>

            </a>

        </div>
    </div>
</div>