<div [@transitionReveal]="{value:_mTriggerAnim, params: {animDelay: 500}}" class="main tb-position--relative tb-overflow--hidden" ngClass.xs="xs" ngClass.sm="sm"  #animRefView>
    <div class="tb-container--stretched">
      <div class="background-bar">
        <!-- <div class="vertical-line-container" fxLayoutAlign="space-between stretch">
          <div class="vertical-lines"></div>
          <div class="vertical-lines"></div>
          <div class="vertical-lines"></div>
          <div class="vertical-lines"></div>
          <div class="vertical-lines"></div>
        </div> -->
      </div>
    </div>
  
    <div class="footer tb-container tb-position--relative" fxLayout="column">
      <!-- <div class="logo" ngClass.xs="xs">
          <img class="tb-image" src="assets/svg/logo_big.svg">
        </div> -->
  
      <div class="tb-height--48"> </div>
  
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap.lt-md="12px">
  
        <div class="company" fxFlex fxFlex.lt-md="none" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="12px">
         
          <h5 class="company-name tb-color--black-38 tb-typo--h5" ngClass.xs="xs">Designed in <span class="tb-color--black">Figma</span>. Developed in <span class="tb-color--black">Angular</span>
          </h5>
  
        </div>
  
        <div class="navigation-area " fxLayout="row">
          <a routerLink="/" class="tb-typo--button tb-color--grey-900  tb-padding--8-16 tb-cursor--pointer">Icons</a>
          <div ngClass.gt-sm="tb-padding--h-12" ngClass.lt-md="tb-padding--h-12"></div>
          <a routerLink="/products/apps" class="tb-typo--button tb-color--grey-900  tb-padding--8-16 tb-cursor--pointer">Logos</a>
          <div ngClass.gt-sm="tb-padding--h-12" ngClass.lt-md="tb-padding--h-12"></div>
          <a routerLink="/products/designs" class="tb-typo--button tb-color--grey-900  tb-padding--8-16 tb-cursor--pointer">Platforms</a>  
        </div>
  
       
  
  
      </div>
      <div class="tb-height--56"> </div>
  
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <p class="tb-cursor--pointer tb-typo--body2 tb-color--grey-500">
          © 2019 Copyright | nirajprakash.github.io | All rights reserved.</p>
        <div fxFlex> </div>
        <div class="social-area" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
           <div class="social" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center"
            fxLayoutAlign.lt-sm="end end">
            <!-- <button mat-icon-button>
              <mat-icon svgIcon="facebook" class="tb-icon--16 tb-color--grey-300 "></mat-icon>
            </button> -->
  
           
            <a class="" href="https://github.com/nirajprakash" target="_blank" matTooltip="github">
              <button mat-icon-button>
                <mat-icon svgIcon="github" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
           
            <a class="" href="https://www.linkedin.com/in/nirajprakash1/" target="_blank" matTooltip="linkedin">
              <button mat-icon-button>
                <mat-icon svgIcon="linkedin" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
            <a class="" href="https://www.instagram.com/niraj_prakash/" target="_blank" matTooltip="instagram">
  
              <button mat-icon-button>
                <mat-icon svgIcon="instagram" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
          </div>
        </div>
  
  
      </div>
  
  
      <div class="tb-height--20"> </div>
  
  
  
    </div>
  </div>